@model Clientes.Models.Prospecto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Prospecto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Primer Apellido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            Segundo Apellido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            Codigo Postal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-2">
            Archivo
        </dt>

        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.NombreArchivo))
            {
                <iframe src="@Url.Action("VerPDF", new { nombreArchivo = Model.NombreArchivo })" width="600" height="500"></iframe>
            }
            else
            {
                <span>No hay archivo adjunto.</span>
            }
        </dd>
    </dl>
</div>
<div>
    
    <a class="btn btn-danger" asp-action="Index">Salir</a>
</div>
